<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
	<form name="send" method="post" action="/Test/xx">
	  <ol>
	    <li>
	      <label for="content">content</label>
	      <input type="text" id="content" name="content" class="required"/>
	    </li>
	    <li>
	      <input type="submit" id="submit" value="send"/>
	    </li>
	  </ol>
	</form>
  </body>
</html>